ttkwidgets
debugpy
ipdb
typer
mypy
json5
jmespath
git+https://github.com/ubinos/ubitool.git

sphinx
myst-parser
sphinx_rtd_theme
sphinx-copybutton
sphinx-tabs
sphinxcontrib-bibtex
sphinxcontrib-mermaid
git+https://github.com/ubinos/sphinxcontrib-pseudocode.git
furo

pytest

pyserial
adafruit-nrfutil

pillow

intelhex

numpy
matplotlib
scipy
pandas

jupyter

mpremote

opencv-python
